.custom-carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease;
    padding: 20px;
}

.carousel-slide {
    flex: 0 0 33.33%;
    padding-right: 10px;
    padding-left: 10px;

    @media (min-width: 768px) {
        flex: 0 0 20%;
        /* Muestra cinco imágenes en el carrusel a la vez */
        padding: 10px;
        box-sizing: border-box;
        opacity: 1;
        transition: opacity 0.3s ease;

        /* Agrega una transición para la opacidad */
    }
}

.carousel-slide.active {
    opacity: 1;
    /* La imagen activa tiene opacidad completa */
    transform: scale(1.1);
    /* Aumenta el tamaño de la imagen en 1.1 veces (efecto "pop") */
}