.seat-mark {
    position: absolute;
    z-index: 999;
    height: 24px;
    width: 24px;
    border-radius: 8px;
    background-color: #006fee;
    color: #fff;
    line-height: 2;
    text-align: center;
    box-shadow: 1px 1px 5px -2px #000;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.seat-mark:hover {
    background-color: #014594;
}